@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
html{
    
    font-family: 'Montserrat', sans-serif;
}
a{
    text-align: right;
    
}

#first .container {
    min-height: 100vh;

}

/* first section*/
#first {
    background-image: url(https://github.com/Alishokh/Alishokh_Taigunshoev_Programming_2021/blob/main/Create%20HTML,%20CSS,%20PHP,%20JS/img/RZZF2GtJ-bugatti-la-voiture-noire-car-design_dezeen_2364_hero-1-1200x675.jpg?raw=true) ;
    background-size: cover;
    background-position: top center;
    position: relative;    
    z-index: 1;
}

    
    

#first::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#first h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: blanchedalmond;
}
#first h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: red;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
#first .cta{
    display: inline-block;
    padding: 8px;
    margin-left: 5px;
    color: rgb(190, 42, 42);
    background-color: transparent;
    border: 1px solid red;
    font-size: 1rem;
    margin-top: 0;
    transition: 3s ease;
    transition-property: background-color, color;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
#first .cta::hover {
    color: white;
    opacity: 0.7;
}
/*animation for car rent*/
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
/*end animation for car rent*/
/*end first section */
/*second section*/
#second{
    margin:100;
    padding: 250px;
    background-image: url("https://github.com/Alishokh/Alishokh_Taigunshoev_Programming_2021/blob/main/Create%20HTML,%20CSS,%20PHP,%20JS/img/background.jpg?raw=true");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#second h1{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 20px;
}
#second h2{
    color: rgb(102, 22, 22);
}
#second p{
    color: brown;
    margin: 10px 10px 10px 10px;
    
    font-size: 12px;
    font-family: bolder;
}
#second .section-title{
    font-size: 40px;
    color: brown;
}
/*end second section*/
/*third section*/
#third{
    background-image: url(https://github.com/Alishokh/Alishokh_Taigunshoev_Programming_2021/blob/main/Create%20HTML,%20CSS,%20PHP,%20JS/img/background.jpg?raw=true);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#third .new_container p{
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    color: rgb(180, 111, 111);  
    
}
#third .new_container h1{
    text-align: center;
    padding-top: 90px;
    color: brown;
}
#third .card_top {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    display:flex;
    margin-top: 20px;
    margin-left: 25%;
    color: rgb(182, 117, 117);
  }
  #third .card_bot {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
    display:flex;
    margin-top: 20px;
    margin-left: 25%;
    color: rgb(182, 117, 117);
  }
  
 #third .card1:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.2);
  }
  #third .card2:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.2);
  }
  #third .card3:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.2);
  }
  #third .card4:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.2);
  }
  #third .card5:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.2);
  }
  #third .card6:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.2);
  }
 #third .container {
    padding: 50px 16px;
    }
#third .card1{
    margin: 10px ;
    border: 1px solid rgb(224, 79, 79);
   max-width: 70%;
}
#third .card2{
    margin: 10px;
    border: 1px solid rgb(224, 79, 79);
    max-width: 70%;
}
#third .card3{
    margin: 10px ;
    border: 1px solid rgb(224, 79, 79);
    max-width: 70%;
}
#third .card4{
    margin: 10px;
    border: 1px solid rgb(224, 79, 79);
}
#third .card5{
    margin: 10px ;
    border: 1px solid rgb(224, 79, 79);
}
#third .card6{
    margin: 10px;
    border: 1px solid rgb(224, 79, 79);
}
#third .container .avatar{
   width: 30px;
   margin-bottom:-5px;
}
#third h4{
    display: flex;
    justify-content: center;
}
#third .card_bot .card_button{
   margin-left: 100px;
   width: 100px;
   height: 40px;
   justify-content: right;
   color: brown;
   border:1px solid brown;
   background-color: rgb(231, 220, 220);
}
#third .card_top .card_button{
    margin-left: 100px;
    width: 100px;
    height: 40px;
    justify-content: right;
    color: brown;
    border:1px solid brown;
    background-color: rgb(231, 220, 220);
 }

#third .card_top .card_date{
    width: 200px;
    border: 1px solid brown;
    background-color: rgb(231, 220, 220);
}
#third .card_bot .card_date{
    width: 200px;
    border: 1px solid brown;
    background-color: rgb(231, 220, 220);
}
#third .card_top hr{
    height: 0.05px;
    width: 50%;
    margin-bottom: 10px;
    margin-left: 25%;
    border: 0.05px solid brown;
}
#third .card_bot hr{
    height: 0.05px;
    width: 50%;
    margin-bottom: 10px;
    margin-left: 25%;
    border: 0.05px solid brown;
}
/*end third section*/
/*Fourth section*/
#fourth{
    background-image: url("https://github.com/Alishokh/Alishokh_Taigunshoev_Programming_2021/blob/main/Create%20HTML,%20CSS,%20PHP,%20JS/img/background.jpg?raw=true");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#fourth .container{
    
}
#fourth .container .card_map{
   
    padding-top: 50px ;
    display: flex;
    align-items: stretch;
    padding-left: 300px;
    color: rgb(175, 127, 127);
}
#fourth .container .card_map2{
   
    color: rgb(175, 127, 127);
    padding-top: 50px ;
    display: flex;
    align-items: stretch;
    padding-left: 300px;
}
#fourth .container .card_map3{
    color: rgb(175, 127, 127);
    padding-top: 50px ;
    display: flex;
    align-items: stretch;
    padding-left: 300px;
}
.card_map img{
    width: 100%;
    border-radius: 20%;
    justify-content: center;
    margin-left: -0.01px;
    margin-top: -0.5px;
}
.card_map2 img{
    width: 100%;
    border-radius: 20%;
    justify-content: center;
    margin-left: -0.01px;
    margin-top: -0.5px;
}
.card_map3 img{
    width: 100%;
    border-radius: 20%;
    justify-content: center;
    margin-left: -0.01px;
    margin-top: -0.5px;
}
.card_box{
    width: 170px;
    height: 250px;
    border-radius:20%;
    border: 1px solid brown;
    text-align: center;
    font-size: 15px;
    margin-left: 80px;
}
#fourth .button{
    background-color: rgb(231, 220, 220);
    border-radius: 20%;
    width: 40%;
    border: 1px solid brown;
    margin-top: 20px;
}
#fourth h1{
    text-align: center;
    padding: 20px ;
    color: rgb(189, 64, 64);
}
#fourth p{
    text-align: center;
    color: rgb(175, 127, 127);
}
/*End Fourth section*/
/*footer section*/
footer{
    padding-top: 5%;
    text-align: center;
    background-image: url(https://github.com/Alishokh/Alishokh_Taigunshoev_Programming_2021/blob/main/Create%20HTML,%20CSS,%20PHP,%20JS/img/bot_background.jpg?raw=true);
    height: 10cm;
}
footer p{
    color: brown;
}
/*end footer section*/




